.video__estudar-titulo {
    text-align: center;
    padding-bottom: 1em;
    text-transform: uppercase;
}

.video-produto-apresentacao {
    width: 80%;
    height:300px;
}

.video {
    max-width:700px;
    padding-bottom: 3em;
  
}


.video__estudar {
    
    display:flex;
   justify-content: center;
    align-items: center;
    padding: 0 0 3em 0;
}
.video__estudar {
    background-color: rgb(232, 232, 232);
}

@media screen and (min-width:300px) {
    .video__estudar {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-top:5em;
        width:auto;
        height: 315px;
       


    }

  

}


@media screen and (min-width:1024px) {

    .video__estudar {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-top:5em;
        width:auto;
        height: 315px;
        


    }
       
}